.footer-bg {
  background-color: #2C3E50;
}

.icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 15px;
}

.icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  color: white;
  font-size: 20px;
  transition: all 0.3s ease;
}

.icon-circle:hover {
  background-color: #1ABC9C;
  border-color: #1ABC9C;
  cursor: pointer;
}

.cppy-right-color {
  background-color: #1A252F;
}
